/* palette #c4cfa1, #8b956d, #4d533c, #1f1f1f */
@font-face {
	font-family: oldschoo;
	src: url("../asset/font/Gamegirl.eot") /* EOT file for IE */
}
@font-face {
	font-family: oldschoo;
	src: url("../asset/font/Gamegirl.ttf") /* TTF file for CSS3 browsers */
}

html, body {
	background: #fff;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: #0092bf;
}

/**********
 *	HEADER
 **********/
header {
	padding: 1.5rem;
	background: #1f1f1f;
	color: #fff;
}
.logo-block {
	float: left;
}
.logo-block {
	word-spacing: 1.6em;
	margin: 0;
	padding: 0;
}
.logo-block * {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
.logo-block svg {
	display: block;
	margin-bottom: .5em;
	width: 360px;
	height: 135px;
	max-width: 100%;
}
.logo-block #svg-inner-text {
	fill: #0092bf;
	transition: fill 0.5s;
	
}
.logo-block #svg-outer-text {
	fill: #E34C26;
	transition: fill 0.5s;
}
.logo-block svg:hover #svg-inner-text {
	fill: #fff;
	transition: fill 0.5s;
	
}
.logo-block svg:hover #svg-outer-text {
	fill: #fff;
	transition: fill 0.5s;
}
.logo-block h1 {
	font-size: 1.1em;
}
.logo-block h1>em {
	display: block;
	font-style: normal;
}

.next-meetup {
	float: left;
	margin-left: 50px;
	line-height: 2em;
}
.next-meetup h2 {
	margin: 0 0 0.3em 0;
	line-height: 1em;
}
.next-meetup .label {
	display: inline-block;
	width: 60px;
}
.next-meetup a {
	color: #fff;
}
.clear {
	clear: both;
}

/***********
 * MAIN
 ***********/
main {
	font-size: 1.5em;
	margin: 1.5rem;
	display: block; /* since the main element isn't supported yet */
}

main em {
	font-weight: 600;
}

main .logo-style { /* gameboy font is large */
	font-size: .85em;
}
/**********
 * FOOTER
 **********/
footer {
	background: #E34C26;
	margin-top: 1.5rem;
	color: #fff;
	font-family: oldschoo, monospace;
	padding: 1rem 1.5rem;
}

footer a, footer {
	color: #fff;
}

footer .twitter {
	display: inline-block;
	padding-left: 20px;
	background: url(../asset/img/twitter.png) no-repeat;
	background-size: auto 100%;
}

footer ul {
	margin: 0;
}

/* OTHER STYLES */
.logo-style {
	font-family: oldschoo, monospace;
	text-shadow: 0 -2px -3px #888;
}

.showmobileinline, .showmobileblock {
	display: none;
}
/*========
 * MOBILE
 *========*/
@media screen and (max-width: 32em) {
	.logo-block h1 {
		margin: 0 auto;
		font-size: 0.8em;
	}
	
	header nav {
		position: static;
		display: block;
		width: 100%;
		font-size: 1.2em;
		padding: 1em 0;
		margin: 0;
	}
	
	.next-meetup {
		margin-left: 0;
		margin-top: 1rem;
	}
	
	.showmobileblock {
		display: block;
	}
	
	.showmobileinline {
		display: inline;
	}
	
	.hidemobile {
		display: none;
	}
}
